<p style="clear:both; display: block; background-color: #436458;">
    <span style="float: left;">Flask Blog - <a href="/home">Home</a> - <a href="/about">About</a></span>

    <span style="float: right;">
        {% if session["user"] %}
            Logged in as {{ session["user"]["username"] }}. <a href="/logout">Log out</a>
        {% else %}
            <a href="/login">Log in</a> - <a href="/register">Register</a>
        {% endif %}
    </span>
</p>
<br><br><br>
<div style="display: flex; flex-direction: row;">
    <div style="display:block; width: 75vw;">
    {% block content %}{% endblock %}
    </div>
    <div style="width: 20vw; margin-left: 3vw;">
        <h1>Our Sidebar</h1>
        <ul>
            <li><a href="/home">Latest posts</a></li>
            <li><a href="#">Announcements</a></li>
            <li><a href="#">Calendars</a></li>
        </ul>
    </div>
</div>