{% extends "base.j2" %}

{% block content %}

{% if message %}
<div style="background-color: #769984; padding: 1em;">
    {{ message }}
</div>
<br>
{% endif %}

{% for post in posts %}
    <div style="padding: 1em; border: 1px solid black;">
        <p><b>{{ post.username }}</b></p>
        <p><i>{{ post.created }}</i></p>
        <hr>
        <p>{{ post.content }}</p>
    <div>
{% endfor %}
{% endblock %}