{% extends "base.j2" %}

{% block content %}

{% if message %}
<div style="background-color: #769984; padding: 1em;">
    {{ message }}
</div>
<br>
{% endif %}

{% for post in posts %}
    <div style="padding: 1em; border: 1px solid black; margin: 1em;">
        <p><b>{{ post.username }}</b></p>
        <p><i>Created on {{ post.created }}</i></p>
        {% if session.get("user") and (session["user"]["id"] == post["creator"] or session["user"]["is_admin"]) %}
            <p><a href="/edit/{{ post.id }}">Edit</a></p>
        {% endif %}
        <hr>
        <h1>{{ post.title }}</h1>
        <p>{{ post.content }}</p>
    </div>
{% endfor %}
{% endblock %}