{% from "_formfield.j2" import render_field %}
{% extends "base.j2" %}
{% block content %}
<form method="POST">
    <fieldset>
        <legend>Log in</legend>
        {{ form.hidden_tag() }}

        <dl>
        {{ render_field(form.username_or_email) }}
        {{ render_field(form.password) }}
        </dl>

        <input type="submit" value="Submit" />
    </fieldset>
</form>
{% endblock %}