<html>
    <h1>Hello {{username or "user"}}!</h1>
    {% if username == None %}
    <span style="color: red">You are not logged in.</span> <a href="/login">Log in</a>
    {% else %}
    Welcome back!
    {% endif %}
    <p>
        See our <a href="/about">about page</a> and <a href="/contactus">contact page</a>
    </p>
    <p>
        You have visited {{visit_count}} time{{"s" if visit_count > 1 else ""}}.
    </p>

    <h2>Message board</h2>
    <ul>
        {% for message in messages %}
        <li><span style="color: gray">{{message.created}}</span> <b>{{message.username}}:</b> {{message.content}}
        {% endfor %}
    </ul>

    {% if username != None %}
    <p>
        <a href="/logout">Log out</a>
    </p>
    {% endif %}
</html>